@font-face {
	font-family: 'Inter';
	font-display: swap;
	src: url('~/assets/fonts/Inter-Regular.ttf') format('truetype');
	src:
		url('~/assets/fonts/Inter-Regular.woff2') format('woff2'),
		url('~/assets/fonts/Inter-Regular.woff') format('woff');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Inter';
	font-display: swap;
	src: url('~/assets/fonts/Inter-Medium.ttf') format('truetype');
	src:
		url('~/assets/fonts/Inter-Medium.woff2') format('woff2'),
		url('~/assets/fonts/Inter-Medium.woff') format('woff');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'Inter';
	font-display: swap;
	src: url('~/assets/fonts/Inter-SemiBold.ttf') format('truetype');
	src:
		url('~/assets/fonts/Inter-SemiBold.woff2') format('woff2'),
		url('~/assets/fonts/Inter-SemiBold.woff') format('woff');
	font-style: normal;
	font-weight: 600;
}
