.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

@keyframes bounce-arrow {
	0%,
	100% {
		transform: rotate(-90deg) translateY(0);
	}
	50% {
		transform: rotate(-90deg) translateY(-10px);
	}
}

@keyframes bounce-arrow-right {
	0%,
	100% {
		transform: rotate(-90deg) translateY(0);
	}
	50% {
		transform: rotate(-90deg) translateY(10px);
	}
}
